<header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    {{!-- <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"> --}}
    <source src="https://app.coverr.co/s3/mp4/Boxing-gym.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Macros counter</h1>
        <p class="lead mb-0">What is it good for?</p>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>This macros and calorie counter will help you get an understanding of a proper way of losing weight.</p>
        <p>Gone are the days of trying out different diets, with this tool you'll be able to count, track and estimate your daily intake with ease!</p>
        <p>Go a head and give it a try, you wont regret it!</p>
      </div>
    </div>
  </div>
</section>