<p>This macros and calorie counter will help you get an understanding of a proper way of losing weight.</p>
<p>Gone are the days of trying out different diets, with this tool you'll be able to count, track and estimate your
  daily intake with ease!</p>
<p>Go a head and give it a try, you wont regret it!</p>